* { 
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 50vh;
    background-image: url(./assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}
h1 {
    font-size: 10vh;
}
h4 {
    background-color: black;
    color: white;
    font-size: 5vh;
    text-align: center;
    
}
main section {
    display: inline-block;
}
.logo {
    width: 20vh;
    position: relative;
    top: 30vh; left: 180vh;
}
nav a{
    display:block;
    margin: 20px;
}
.info{
    position: relative;
    top: -20vh; left:20vh
}
section{
    display:inline-block;
}



